In [12]:
import requests
import orchest
import pandas as pd

print('Importação das bibliotecas realizada com sucesso')

Importação das bibliotecas realizada com sucesso

In [13]:
print('Realizando o download dos dados...')
try:
    url = r'http://api.comexstat.mdic.gov.br/cities?filter=%7B%22yearStart%22:%221997%22,%22yearEnd%22:%222022%22,%22typeForm%22:2,%22typeOrder%22:2,%22filterList%22:%5B%7B%22id%22:%22noMunMin%22,%22text%22:%22Munic%C3%ADpio%22,%22route%22:%22/pt/location/cities%22,%22type%22:%221%22,%22group%22:%22gerais%22,%22groupText%22:%22Gerais%22,%22hint%22:%22fieldsForm.city.noMunMin.description%22,%22placeholder%22:%22Munic%C3%ADpios%22%7D%5D,%22filterArray%22:%5B%7B%22item%22:%5B%221505536%22%5D,%22idInput%22:%22noMunMin%22%7D%5D,%22rangeFilter%22:%5B%5D,%22detailDatabase%22:%5B%7B%22id%22:%22noMunMin%22,%22text%22:%22Munic%C3%ADpio%22,%22concat%22:%22noMunMinsgUf%22%7D%5D,%22monthDetail%22:true,%22metricFOB%22:true,%22metricKG%22:false,%22monthStart%22:%2201%22,%22monthEnd%22:%2212%22,%22formQueue%22:%22city%22,%22langDefault%22:%22pt%22,%22monthStartName%22:%22Janeiro%22,%22monthEndName%22:%22Dezembro%22%7D'
    res = requests.get(url)
    print('Realizando a conversão dos dados para json')
    json = res.json()
except:
    print('Falha ao realizar o download dos dados.')

Realizando o download dos dados...
Falha ao realizar o download dos dados.

In [14]:
print('Criando dataframe...')
importacao = pd.DataFrame(json['data']['list'])

Criando dataframe...

In [15]:
#importacao.head()

In [16]:
print('Renomeando o nome das colunas...')
importacao = importacao.rename(columns={'coAno':'Ano', 'coMes':'Mês', 'noMunMinsgUf':'Município', 'vlFob':'Valor FOB (US$)'})

print('Aplicando replace nos dados...')
importacao['Município'] = importacao['Município'].apply(lambda x : str(x).replace(' - PA',''))

Renomeando o nome das colunas...
Aplicando replace nos dados...

In [17]:
#importacao.head()

In [18]:
print('Definindo o tipo correto dos dados...')
importacao['Ano'] = importacao['Ano'].astype(int)
importacao['Município'] = importacao['Município'].astype(str)
importacao['Mês'] = importacao['Mês'].astype(int)
importacao['Valor FOB (US$)'] = importacao['Valor FOB (US$)'].astype(int)

Definindo o tipo correto dos dados...

In [21]:
importacao.head()

    Ano  Mês    Município  Valor FOB (US$)
0  2022    5  Parauapebas         14499841
1  2022    4  Parauapebas         12402993
2  2022    3  Parauapebas          9380561
3  2022    2  Parauapebas         11115583
4  2022    1  Parauapebas         11183668

In [20]:
print('Exportando os dados para o proximo step')
orchest.output(importacao, "importacao")

Exportando os dados para o proximo step

In [10]:
print('Script executado com sucesso!')

Script executado com sucesso!