In [1]:
import requests
import orchest
import pandas as pd

url = r'http://api.comexstat.mdic.gov.br/cities?filter=%7B%22yearStart%22:%221997%22,%22yearEnd%22:%222022%22,%22typeForm%22:2,%22typeOrder%22:2,%22filterList%22:%5B%7B%22id%22:%22noMunMin%22,%22text%22:%22Munic%C3%ADpio%22,%22route%22:%22/pt/location/cities%22,%22type%22:%221%22,%22group%22:%22gerais%22,%22groupText%22:%22Gerais%22,%22hint%22:%22fieldsForm.city.noMunMin.description%22,%22placeholder%22:%22Munic%C3%ADpios%22%7D%5D,%22filterArray%22:%5B%7B%22item%22:%5B%221505536%22%5D,%22idInput%22:%22noMunMin%22%7D%5D,%22rangeFilter%22:%5B%5D,%22detailDatabase%22:%5B%7B%22id%22:%22noMunMin%22,%22text%22:%22Munic%C3%ADpio%22,%22concat%22:%22noMunMinsgUf%22%7D%5D,%22monthDetail%22:true,%22metricFOB%22:true,%22metricKG%22:false,%22monthStart%22:%2201%22,%22monthEnd%22:%2212%22,%22formQueue%22:%22city%22,%22langDefault%22:%22pt%22,%22monthStartName%22:%22Janeiro%22,%22monthEndName%22:%22Dezembro%22%7D'

In [2]:
res = requests.get(url)
json = res.json()

In [3]:
importacao = pd.DataFrame(json['data']['list'])

In [4]:
importacao.head()

  coAno coMes      noMunMinsgUf     vlFob
0  2022    05  Parauapebas - PA  14499841
1  2022    04  Parauapebas - PA  12402993
2  2022    03  Parauapebas - PA   9380561
3  2022    02  Parauapebas - PA  11115583
4  2022    01  Parauapebas - PA  11183668

In [5]:
importacao = importacao.rename(columns={'coAno':'Ano', 'coMes':'Mês', 'noMunMinsgUf':'Município', 'vlFob':'Valor FOB (US$)'})

importacao['Município'] = importacao['Município'].apply(lambda x : str(x).replace(' - PA',''))

In [6]:
importacao.head()

    Ano Mês    Município Valor FOB (US$)
0  2022  05  Parauapebas        14499841
1  2022  04  Parauapebas        12402993
2  2022  03  Parauapebas         9380561
3  2022  02  Parauapebas        11115583
4  2022  01  Parauapebas        11183668

In [7]:
importacao['Ano'] = importacao['Ano'].astype(int)
importacao['Mês'] = importacao['Mês'].astype(int)
importacao['Valor FOB (US$)'] = importacao['Valor FOB (US$)'].astype(int)

In [8]:
importacao.head()

    Ano  Mês    Município  Valor FOB (US$)
0  2022    5  Parauapebas         14499841
1  2022    4  Parauapebas         12402993
2  2022    3  Parauapebas          9380561
3  2022    2  Parauapebas         11115583
4  2022    1  Parauapebas         11183668

In [9]:
orchest.output(importacao, "importacao")