In [4]:
print('Importando Bibliotecas...')
import psycopg2
import orchest
import pandas
import sqlalchemy
from sqlalchemy import create_engine
import urllib.parse
print('Bibliotecas importadas')

Importando Bibliotecas...
Bibliotecas importadas

#Credenciais do outro banco
SGBD = 'postgresql'
host = '69.64.34.252'
port = '5432'
database = 'dtwanalytics'
user = 'anselmo'
password = 'anselmo'

In [5]:
print('carregando as credenciais do banco de dados...')
SGBD = 'postgresql'
SGBD_ = 'postgresql+pg8000'
host = '69.64.34.252'
port = '5432'
database = 'parauapebas'
user = 'dtwanalytics'
password = 'dtw@2022'
password_:str = urllib.parse.quote_plus('dtw@2022')

carregando as credenciais do banco de dados...

In [6]:
print('Carregando os dados dos steps anteriores...')
df = orchest.get_inputs()

Carregando os dados dos steps anteriores...

In [7]:
exportacao = df['exportacao']
importacao = df['importacao']

In [8]:
print('Realizando a limpeza dos dados ausentes...')
exportacao.dropna(inplace=True)
importacao.dropna(inplace=True)

Realizando a limpeza dos dados ausentes...

In [9]:
#exportacao.head()

In [10]:
#importacao.head()

In [11]:
def create_database(sql):
    try:
        con = psycopg2.connect(host=host, database=database,
        user=user, password=password)
        cur = con.cursor()
        cur.execute(sql)
        con.commit()
        con.close()
        print("Query executada!")
    except:
        print("Erro ao criar o banco de dados.")

In [12]:
print('Criando a tabela de Importação caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS importacao ("id" serial primary key, "Ano" integer NOT NULL, "Mês" integer  NOT NULL, "Município" varchar(50) NOT NULL, "Valor FOB (US$)" integer NOT NULL);''')

Criando a tabela de Importação caso não exista...
Query executada!

In [13]:
print('Criando a tabela de Exportacao caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS exportacao ("id" serial primary key, "Ano" integer NOT NULL, "Mês" integer  NOT NULL, "Município" varchar(50) NOT NULL, "Valor FOB (US$)" integer NOT NULL);''')

Criando a tabela de Exportacao caso não exista...
Query executada!

In [18]:
SQLALCHEMY = f"{SGBD_}://{user}:{password_}@{host}:{port}/{database}"

try:
    engine = create_engine(SQLALCHEMY)
    conn = engine.connect()
    print('Conexão com banco de dados criada...')
except:
    print('Falha ao criar conexão com banco de dados.')

Conexão com banco de dados criada...

In [19]:
print('Realizando os Insert na tabela importacão...')
try:
    importacao.to_sql('importacao', con=conn, if_exists='replace', index=False)
    print('Insert no banco de dados Realizado...')
except:
    print('Falha ao inserir os dados no banco de dados.')

Realizando os Insert na tabela importacão...
Insert no banco de dados Realizado...

In [20]:
print('Realizando os Insert na tabela Exportacao...')
try:
    exportacao.to_sql('exportacao', con=conn, if_exists='replace', index=False)
    print('Insert no banco de dados Realizado...')
except:
    print('Falha ao inserir os dados no banco de dados.')

Realizando os Insert na tabela Exportacao...
Insert no banco de dados Realizado...

#Realizar a leitura da tabela da conexão atual 

conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
sql1 = '''select * from data;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
conn.close()

In [21]:
print('Script executado com sucesso!')

Script executado com sucesso!