In [1]:
print('Importando Bibliotecas...')
import psycopg2
import orchest
import pandas
import sqlalchemy
from sqlalchemy import create_engine
import urllib.parse
print('Bibliotecas importadas')

Importando Bibliotecas...

Bibliotecas importadas

#Credenciais do outro banco
SGBD = 'postgresql'
host = '69.64.34.252'
port = '5432'
database = 'dtwanalytics'
user = 'anselmo'
password = 'anselmo'

In [2]:
print('carregando as credenciais do banco de dados...')
SGBD = 'postgresql'
SGBD_ = 'postgresql+pg8000'
host = '69.64.34.252'
port = '5432'
database = 'parauapebas'
user = 'dtwanalytics'
password = 'dtw@2022'
password_ = urllib.parse.quote_plus('dtw@2022')

carregando as credenciais do banco de dados...

In [3]:
print('Carregando os dados dos steps anteriores...')
df = orchest.get_inputs()

Carregando os dados dos steps anteriores...

In [4]:
exportacao = df['exportacao']
importacao = df['importacao']

In [5]:
print('Realizando a limpeza dos dados ausentes...')
exportacao.dropna(inplace=True)
importacao.dropna(inplace=True)

Realizando a limpeza dos dados ausentes...

In [6]:
exportacao.head()

    Ano  Mês    Município  Valor FOB (US$)
0  2022    3  Parauapebas        609933760
1  2022    4  Parauapebas        589055150
2  2022    1  Parauapebas        512683657
3  2022    2  Parauapebas        510647191
4  2022    5  Parauapebas        496805798

In [7]:
importacao.head()

    Ano  Mês    Município  Valor FOB (US$)
0  2022    5  Parauapebas         14499841
1  2022    4  Parauapebas         12402993
2  2022    3  Parauapebas          9380561
3  2022    2  Parauapebas         11115583
4  2022    1  Parauapebas         11183668

In [8]:
print('Criando a tabela de Importação caso não exista...')

con = psycopg2.connect(host=host, database=database,
user=user, password=password)
cur = con.cursor()
sql = """CREATE TABLE IF NOT EXISTS importacao ("id" serial primary key, "Ano" integer NOT NULL, "Mês" integer  NOT NULL, "Município" varchar(50) NOT NULL, "Valor FOB (US$)" integer NOT NULL);"""
cur.execute(sql)
con.commit()
con.close()

Criando a tabela de Importação caso não exista...

In [9]:
print('Criando a tabela de Exportação caso não exista...')
con = psycopg2.connect(host=host, database=database,
user=user, password=password)
cur = con.cursor()
sql = """CREATE TABLE IF NOT EXISTS exportacao ("id" serial primary key, "Ano" integer NOT NULL, "Mês" integer  NOT NULL, "Município" varchar(50) NOT NULL, "Valor FOB (US$)" integer NOT NULL);"""
cur.execute(sql)
con.commit()
con.close()

Criando a tabela de Exportação caso não exista...

In [10]:
SQLALCHEMY = f"{SGBD_}://{user}:{password_}@{host}:{port}/{database}"

engine = create_engine(SQLALCHEMY)
conn = engine.connect()
print('Conexão com banco de dados criada...')

Conexão com banco de dados criada...

In [11]:
print('Realizando os Insert na tabela importacão...')
importacao.to_sql('importacao', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

print('Realizando os Insert na tabela Exportacao...')
exportacao.to_sql('exportacao', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela importacão...

Insert no banco de dados Realizado...
Realizando os Insert na tabela Exportacao...

Insert no banco de dados Realizado...

#Realizar a leitura da tabela da conexão atual 

conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
sql1 = '''select * from data;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
conn.close()