In [13]:
print('Importando Bibliotecas...')
import psycopg2
import orchest
import pandas
import sqlalchemy
from sqlalchemy import create_engine
import urllib.parse
import warnings
warnings.filterwarnings('ignore')
print('Bibliotecas importadas')

Importando Bibliotecas...
Bibliotecas importadas

In [14]:
print('carregando as credenciais do banco de dados...')
SGBD = 'postgresql'
SGBD_ = 'postgresql+pg8000'
host = '69.64.34.252'
port = '5432'
database = 'parauapebas'
user = 'dtwanalytics'
password = 'dtw@2022'
password_ = urllib.parse.quote_plus('dtw@2022')

carregando as credenciais do banco de dados...

In [15]:
print('Carregando os dados dos steps anteriores...')
df = orchest.get_inputs()

Carregando os dados dos steps anteriores...

In [16]:
#df.keys()

In [17]:
origem_animal = df['origem_animal']
efetivo_rebanho = df['efetivo_rebanho']

In [30]:
def create_database(sql): 
    try:
        con = psycopg2.connect(host=host, database=database,
        user=user, password=password)
        cur = con.cursor()
        cur.execute(sql)
        con.commit()
        con.close()
        print("Query executada!")
    except:
        print("Erro ao criar o banco de dados.")

In [31]:
efetivo_rebanho.head()

,Cod,Unidade da Federacao e Municipio,Variavel,Tipo de rebanho,Ano,Total
0,15,Pará,Efetivo dos rebanhos,Bovino,2011,18262547
1,15,Pará,Efetivo dos rebanhos,Bovino,2012,18605051
2,15,Pará,Efetivo dos rebanhos,Bovino,2013,19165028
3,15,Pará,Efetivo dos rebanhos,Bovino,2014,19911217
4,15,Pará,Efetivo dos rebanhos,Bovino,2015,20271618

In [32]:
print('Criando a tabela de origem_animal caso não exista...')

create_database('''CREATE TABLE IF NOT EXISTS origem_animal ("id" serial primary key, 
"Brasil e Município" integer not null, "Bovino" integer not null, "Bubalino" integer not null, 
"Equino" integer not null, "Suíno - total" integer not null, 
"Suíno - matrizes de suínos" integer not null, "Caprino" integer not null, 
"Ovino" integer not null, "Galináceos - total" integer not null,
"Galináceos - galinhas" integer not null, "Codornas" integer not null, "Ano" integer not null);''')

Criando a tabela de origem_animal caso não exista...
Query executada!

In [34]:
print('Criando a tabela de origem_animal caso não exista...')

create_database('''CREATE TABLE IF NOT EXISTS efetivo_rebanho ("id" serial primary key, 
"Cod" integer not null, "Unidade da Federacao e Municipio" char(100) not null,
"Variavel" char(200) not null, "Tipo de rebanho" char(200) not null, "Ano" integer not null,
"Total" integer not null);''')

Criando a tabela de origem_animal caso não exista...
Query executada!

In [35]:
def create_database(sql): 
    try:
        con = psycopg2.connect(host=host, database=database,
        user=user, password=password)
        cur = con.cursor()
        cur.execute(sql)
        con.commit()
        con.close()
        print("Query executada!")
    except:
        print("Erro ao criar o banco de dados.")

In [ ]:
SQLALCHEMY = f"{SGBD_}://{user}:{password_}@{host}:{port}/{database}"

engine = create_engine(SQLALCHEMY)
conn = engine.connect()
print('Conexão com banco de dados criada...')

In [ ]:
print('Realizando os Insert na tabela origem_animal...')
origem_animal.to_sql('origem_animal', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

In [ ]:
print('Realizando os Insert na tabela efetivo_rebanho...')
efetivo_rebanho.to_sql('efetivo_rebanho', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

In [5]:
print('Script executado com sucesso!')

Script executado com sucesso!