In [12]:
print('Importando Bibliotecas...')
import psycopg2
import orchest
import pandas
import sqlalchemy
from sqlalchemy import create_engine
import urllib.parse
import warnings
warnings.filterwarnings('ignore')
print('Bibliotecas importadas')

Importando Bibliotecas...
Bibliotecas importadas

In [13]:
print('carregando as credenciais do banco de dados...')
SGBD = 'postgresql'
SGBD_ = 'postgresql+pg8000'
host = '69.64.34.252'
port = '5432'
database = 'parauapebas'
user = 'dtwanalytics'
password = 'dtw@2022'
password_ = urllib.parse.quote_plus('dtw@2022')

carregando as credenciais do banco de dados...

In [14]:
print('Carregando os dados dos steps anteriores...')
df = orchest.get_inputs()

Carregando os dados dos steps anteriores...

In [15]:
#df.keys()

In [16]:
origem_animal = df['origem_animal']
efetivo_rebanho = df['efetivo_rebanho']

In [28]:
def create_database(sql): 
    try:
        con = psycopg2.connect(host=host, database=database,
        user=user, password=password)
        cur = con.cursor()
        cur.execute(sql)
        con.commit()
        con.close()
        print("Query executada!")
    except:
        print("Erro ao criar o banco de dados.")

In [29]:
origem_animal.head()

,Brasil e Município,Leite (Mil litros),Ovos de galinha (Mil dúzias),Mel de abelha (Quilogramas),Leite (Mil litros).1,Ovos de galinha (Mil dúzias).1,Mel de abelha (Quilogramas).1,Leite (Mil litros).2,Ovos de galinha (Mil dúzias).2,Mel de abelha (Quilogramas).2,Leite (Mil litros).3,Ovos de galinha (Mil dúzias).3,Mel de abelha (Quilogramas).3,Leite (Mil litros).4,Ovos de galinha (Mil dúzias).4,Mel de abelha (Quilogramas).4
0,Brasil,33680401,3842896,39677393,33313230,4214488,41695747,33907899,4430236,42268297,34918653,4605411,45801255,35445059,4767338,51507862
1,Alta Floresta D'Oeste (RO),7012,265,2702,9024,271,1700,4931,263,1500,7115,258,2800,7258,298,2849
2,Ariquemes (RO),15350,285,930,14497,445,1000,15442,418,960,15667,221,1210,16374,279,1251
3,Cabixi (RO),7274,128,745,8311,151,680,6798,146,653,7439,105,640,6259,120,608
4,Cacoal (RO),26102,996,10057,21814,1645,8500,19399,1630,8320,20554,1901,9000,18668,3813,9299

In [33]:
print('Criando a tabela de origem_animal caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS origem_animal ("id" serial primary key, 
'Brasil e Município' char(150) not null, 'Leite (Mil litros)' integer not null,
'Ovos de galinha (Mil dúzias)' integer not null, 'Mel de abelha (Quilogramas)' integer not null,
'Leite (Mil litros).1' integer not null, 'Ovos de galinha (Mil dúzias).1' integer not null,
'Mel de abelha (Quilogramas).1' integer not null, 'Leite (Mil litros).2' integer not null,
'Ovos de galinha (Mil dúzias).2'integer not null, 'Mel de abelha (Quilogramas).2'
integer not null, 'Leite (Mil litros).3' integer not null, 'Ovos de galinha (Mil dúzias).3'
integer not null, 'Mel de abelha (Quilogramas).3' integer not null, 'Leite (Mil litros).4' 
integer not null , 'Ovos de galinha (Mil dúzias).4' integer not null, 'Mel de abelha (Quilogramas).4' integer not null);''')

Criando a tabela de origem_animal caso não exista...
Erro ao criar o banco de dados.

In [ ]:
print('Criando a tabela de efetivo_rebanho caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS efetivo_rebanho ("id" serial primary key, 
"Nome da Empresa" CHAR(150) NOT NULL, "CNPJ" CHAR(100) NOT NULL);''')

In [ ]:
def create_database(sql): 
    try:
        con = psycopg2.connect(host=host, database=database,
        user=user, password=password)
        cur = con.cursor()
        cur.execute(sql)
        con.commit()
        con.close()
        print("Query executada!")
    except:
        print("Erro ao criar o banco de dados.")

In [ ]:
SQLALCHEMY = f"{SGBD_}://{user}:{password_}@{host}:{port}/{database}"

engine = create_engine(SQLALCHEMY)
conn = engine.connect()
print('Conexão com banco de dados criada...')

In [ ]:
print('Realizando os Insert na tabela origem_animal...')
origem_animal.to_sql('origem_animal', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

In [ ]:
print('Realizando os Insert na tabela efetivo_rebanho...')
efetivo_rebanho.to_sql('efetivo_rebanho', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

In [5]:
print('Script executado com sucesso!')

Script executado com sucesso!