In [5]:
print('Importando Bibliotecas...')
import psycopg2
import orchest
import pandas
import sqlalchemy
from sqlalchemy import create_engine
import urllib.parse
print('Bibliotecas importadas')

Importando Bibliotecas...
Bibliotecas importadas

In [6]:
print('carregando as credenciais do banco de dados...')
SGBD = 'postgresql'
SGBD_ = 'postgresql+pg8000'
host = '69.64.34.252'
port = '5432'
database = 'parauapebas'
user = 'dtwanalytics'
password = 'dtw@2022'
password_ = urllib.parse.quote_plus('dtw@2022')

carregando as credenciais do banco de dados...

In [7]:
print('Carregando os dados dos steps anteriores...')
df = orchest.get_inputs()

Carregando os dados dos steps anteriores...

In [8]:
#df.keys()

In [9]:
credor = df['credor']
elementos_despesa = df['elementos_despesa']
exercicios = df['exercicios']
orgaos = df['orgaos']
pagamento = df['pagamento']
prevista = df['prevista']
arrecadadada = df['arrecadadada']

In [10]:
def create_database(sql): 
    try:
        con = psycopg2.connect(host=host, database=database,
        user=user, password=password)
        cur = con.cursor()
        cur.execute(sql)
        con.commit()
        con.close()
        print("Query executada!")
    except:
        print("Erro ao criar o banco de dados.")

In [11]:
print('Criando a tabela de credor caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS credor ("id" serial primary key, 
"Nome da Empresa" CHAR(150) NOT NULL, "CNPJ" CHAR(100) NOT NULL);''')

Criando a tabela de credor caso não exista...
Query executada!

In [12]:
print('Criando a tabela de elementos_despesa caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS elementos_despesa ("id" serial primary key, 
"nome" CHAR(250) NOT NULL);''')

Criando a tabela de elementos_despesa caso não exista...
Query executada!

In [13]:
print('Criando a tabela de exercicios caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS exercicios ("id" serial primary key, 
"nome" CHAR(250) NOT NULL);''')

Criando a tabela de exercicios caso não exista...
Query executada!

In [14]:
print('Criando a tabela de orgaos caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS orgaos ("id" serial primary key, "nome" CHAR(250) NOT NULL, 
"id_unidades_orcamentarias" integer, "nome_unidades_orcamentarias" integer);''')

Criando a tabela de orgaos caso não exista...
Query executada!

In [15]:
print('Criando a tabela de pagamento caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS pagamento ("id" serial primary key, "numeroDocumento" integer, 
"dataMovimento" DATE NOT NULL, "numeroEmpenho" integer, "credor" CHAR(250) NOT NULL, 
"cnpjcpf" CHAR(100) NOT NULL, "naturezaDaDespesa" CHAR(250) NOT NULL, 
"modalidadeLicitacao" CHAR(250) NOT NULL, "registro" CHAR(150) NOT NULL,
"valor" float, "idOrgao" integer, "idElem" integer, "idEmpenho" integer);''')

Criando a tabela de pagamento caso não exista...
Query executada!

In [16]:
print('Criando a tabela de prevista caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS prevista ("id" serial primary key, "codigo" integer, 
"especificacao" CHAR(250) NOT NULL, "previsao" float  NOT NULL, "arrecadado" float NOT NULL);''')

Criando a tabela de prevista caso não exista...
Query executada!

In [17]:
print('Criando a tabela de arrecadadada caso não exista...')
create_database('''CREATE TABLE IF NOT EXISTS arrecadadada ("id" serial primary key, "dataMovimento" DATE NOT NULL, 
"numeroDocumento" integer NOT NULL, "codigo" varchar(150) NOT NULL, "contribuinte" varchar(250) NOT NULL, 
"cnpjcpf" varchar(150) NOT NULL, "registro" varchar(150) NOT NULL, "valor" float NOT NULL,
"especificacao" varchar(350) NOT NULL);''')

Criando a tabela de arrecadadada caso não exista...
Query executada!

In [18]:
SQLALCHEMY = f"{SGBD_}://{user}:{password_}@{host}:{port}/{database}"
try:
    engine = create_engine(SQLALCHEMY)
    conn = engine.connect()
    print('Conexão com banco de dados criada...')
except:
    print('Falha na importação dos dados...')

Conexão com banco de dados criada...

In [19]:
print('Realizando os Insert na tabela credor...')
credor.to_sql('credor', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela credor...
Insert no banco de dados Realizado...

In [20]:
print('Realizando os Insert na tabela elementos_despesa...')
elementos_despesa.to_sql('elementos_despesa', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela elementos_despesa...
Insert no banco de dados Realizado...

In [21]:
print('Realizando os Insert na tabela exercicios...')
exercicios.to_sql('exercicios', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela exercicios...
Insert no banco de dados Realizado...

In [22]:
print('Realizando os Insert na tabela orgaos...')
orgaos.to_sql('orgaos', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela orgaos...
Insert no banco de dados Realizado...

In [23]:
print('Realizando os Insert na tabela pagamento...')
pagamento.to_sql('pagamento', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela pagamento...
Insert no banco de dados Realizado...

In [24]:
print('Realizando os Insert na tabela prevista...')
prevista.to_sql('prevista', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela prevista...
Insert no banco de dados Realizado...

In [25]:
print('Realizando os Insert na tabela arrecadadada...')
arrecadadada.to_sql('arrecadadada', con=conn, if_exists='replace', index=False)
print('Insert no banco de dados Realizado...')

Realizando os Insert na tabela arrecadadada...
Insert no banco de dados Realizado...

In [26]:
print('Script executado com sucesso!')

Script executado com sucesso!